.red {
    background-color: #F9E4CA;
}


.profile_image {
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.logout {
    margin-top: 8em;
}

/* hr {
    width: 75%;
} */

.ads {
    height: 25vh;
    border-radius: 20px;
}

.ads_cta {
    background-color: #E85643;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 20px;
}

.upgrade {
    color: #E85643;
}

.last_div {
    background-color: #C4EDE6;
    border-radius: 20px;
}

.last_grid {
    padding: 2em;
}

.x-hidden {
    overflow-x: hidden;
}

.social_icon {
    width: 25px;
    height: 25px;
    color: white;
}

.mt-n1 {
  margin-top: -0.5rem !important;
}

.my-card {
    border-radius: 20px;
}

.my-last-card {
    border-radius: 20px;
    color: white;
    background: #6EBCB6;
}

.next {
    background: white;
    width: 25px;
    height: 25px;
    color: #6EBCB6;
}

.port_image {
    width: 25px;
    height: 25px;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
}

.red_alert {
    width: 20px;
    height: 20px;
    background-color: red;
    font-size: 0.8em;
}

.logout_logo {
    width: 20px;
    height: 20px;
    background-color: black;
    font-size: 0.6em;
}